table{
    border: solid 4px;
    border-collapse: collapse;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    
}
tbody{
    background-color: brown;
}
h1{
    text-align: center;
}
td, th{
    border: 1px solid;
}

tbody > tr:nth-of-type(even) {
    background-color: grey;
}
